/*Style CSS pour la page Culture*/
@font-face {
    font-family: 'PolicePersonnalisée';
    src: url('PolicePerso.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/FondCulture.png) fixed;
    background-size: cover;
    min-width: 1665px;
}
#Titre{
    font-family: 'PolicePersonnalisée';
    font-size: xx-large;
    margin-top: 2%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
}
#Menu{
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border: rgba(0, 0, 0, 0.5) solid 5px;
    border-radius: 15px;
}
#logo{
    padding-left: 1%;
    padding-right: 17%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
#logo img{
    height: 40px;
    width: 40px;
    align-self: center;
}
#navigation{
    width: 50%;
    align-content: center;
}
#navigation ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;    
}
#Menu a{
    font-family: 'PolicePersonnalisée';
    font-size: large;
    text-decoration: none;
    color: white;
}
#Menu a:hover{
    text-shadow: 2px 2px 2px purple;
    color: rgb(158, 70, 217)
}
#imgs{
    display: block; /* Change l'image en élément de bloc */
    margin: auto;
}
#pieddepage{
    width: 95%;
    background-color: whitesmoke;
    border-radius: 25px;
}
#pieddepage ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
#activités{
    margin-right: 50px;
    margin-left: 50px;
}
#contenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
#Paragraphe{
    width: 40%;
    font-family: Trebuchet MS;
    font-size: 18pt;
    padding: 2%;
    margin-bottom: 4%;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
}
h3{
    text-align: center;
    font-family: 'Roboto';
    font-size: 20pt;
}
#faits{
    width: 42%;
    display: flex;
    flex-direction: column;
    font-family: Trebuchet MS;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.65);
    font-size: larger;
    padding-left: 2%;
    margin-bottom: 4%;
}
#visite{
    width: 44%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.65);
    font-family: Trebuchet MS;
    font-size: larger;
    margin-bottom: 4%;
}
#visite img{
    width: 400px;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 0px 0px  10px gray;
}
#liens{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    border-radius: 15px;
    color: black;
    background-color: rgba(255, 255, 255, 0.65);
    font-family: Roboto;
    font-size: x-large;
}
#liens a{
    text-decoration: none;
    color: black;
}
#pdf a{
    text-decoration: underline;
}

#album {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#miniatures img {
    width: 60px;
    height: 60px;
    margin: 5px;
}

#grandeImage {
    align-items: center;
    justify-content: center;
    width: 800px;
    height: auto;
    border: rgba(0, 0, 0, 0.5) solid 5px;
}
#controles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    margin-top: 4%;
    margin-bottom: 4%;
}

#description{
    width: 90%;
    font-family: Trebuchet MS;
    font-size: 16pt;
    padding: 2%;
    margin-bottom: 4%;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
}

#calculatrice{
    margin-bottom: 2%;
}