/*Style pour la page Apropos*/
@font-face {
    font-family: 'PolicePersonnalisée';
    src: url('PolicePerso.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../img/FondApropos.png') fixed;
    background-size: cover;
    min-width: 1665px;
}
#Titre{
    font-family: 'PolicePersonnalisée';
    font-size: xx-large;
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    color: rgb(251, 251, 71);
    text-shadow: 2px 2px 2px rgb(249, 249, 182);
}
#Menu{
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: rgba(255, 255, 220, 0.368) solid 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(242, 242, 158);
}
#logo{
    padding-left: 1%;
    padding-right: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
#logo img{
    height: 40px;
    width: 40px;
    align-self: center;
}
#navigation{
    width: 74%;
    align-content: center;
    justify-items: center;
}
#navigation ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;    
}
#Menu a{
    font-family: 'PolicePersonnalisée';
    font-size: large;
    text-decoration: none;
    color: white;
}
#Menu a:hover{
    text-shadow: 2px 2px 2px purple;
    font-size: 140%;
    color: rgb(158, 70, 217)
}
#BoutonTheme{
    padding-left: 13%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
#contenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
#Paragraphe{
    width: 40%;
    display: flex;
    font-family: Trebuchet MS;
    font-size: 16pt;
    color: rgb(255, 255, 255);
    margin-bottom: 10%;
}
#Sources{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h3{
    text-align: center;
    font-family: 'Roboto';
    color: rgb(251, 251, 71);
    font-size: large;
    text-decoration: underline;
}
#Liste ul{
    list-style-type: none;
}
#Liste a{
    text-decoration: none;
    color: white;
    font-family: Trebuchet MS;
}
#Liste a:hover{
    color: yellow;
}
#Remerciement{
    display: flex;
    flex-direction: column;
}
#Remerciement p{
    width: 40%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: Trebuchet MS;
    color: white
}
#Remerciement a{
    color: rgb(242, 242, 158);
}
#Remerciement a:hover{
    color: whitesmoke;
}
#Auteur{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8%;
}
#Auteur p{
    width: 90%;
    text-align: center;
    font-family: Trebuchet MS;
    color: white
}
#Auteur a{
    font-family: Trebuchet MS;
    color: rgb(242, 242, 158);
}
#Auteur a:hover{
    color: whitesmoke;
}
/*#loading{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}*/

